.header
{
	background-color: #FCDB00;
	padding-top: 25px;
	font-size: 20px;
}
.d
{
	font-size: 25px;
}
.slider
{
	background-color: #FCDB00;
}
.footer
{
	background-color: black;
}
.banner_content
{
	padding-top: 150px;
}
.banner_img
{
	padding-top: 70px;
	padding-bottom: 100px;
}
.blod
{
	font-weight: bold;
}
.fixed
{
	margin-right:100px; 
}
.fixed li
{
	padding-left: 20px;
}
.fi
{
	font-size: 40px;
	padding-left: 10px;
}
.features_details
{
	padding-top: 120px;
	padding-bottom: 135px;
}
.f_lo
{
	font-size: 50px;
}
.r2
{
	padding-top: 85px;
}
.footer
{
	padding-top: 100px;
}
.cl
{
	color: yellow;
}
.cl2
{
	color: white;
}
.p1
{
	padding-top: 18px;
	padding-bottom: 40px;
}
.si
{
	font-size: 35px;
}
.li2
{
	padding-top: 125px;
	padding-bottom: 125px;
}